<!DOCTYPE html>
<html lang="es">
 <head>
	<meta charset="UTF-8">
	<title>Loading</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="http://comedor.undac.edu.pe:8094//img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="http://comedor.undac.edu.pe:8094//css/estilos.css">
</head>
<body style="font-size: 14px;">
	
	<div class="">
		
			<div class="row">
				<div class="col-md-12">
					<div class="d-flex align-items-center justify-content-center h-100 imagen">

					<img src="http://comedor.undac.edu.pe:8094//img/loader.gif"/><br>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="d-flex align-items-center justify-content-center h-100">
					<h4 class="texto">Cargando...</h4>
				</div>
				</div>
			</div>
			
			
		
	</div>


	
</body>
</html>